.header-container{
    display: flex;
    
    font-weight: 700;
    background-color: white;
    height: 70px;
    /* position: fixed; */
    width: 100%;
    
    

}
.nav-hov{
    color: red;
    
}
.nav-hov:hover{
    color:#06E978;
}
.set-header{
    margin-top: 10px;
    margin-left: 120px;
    margin-right: 200px;
}

.quote-button{
    background-color: #06E978;
    border: 1px solid #06E978;
    border-radius: 20px;
    color: white;
    width: 130px;
    padding: 3px;
    font-weight: 700;
}
.quote-button:hover{
    background-color: white;
    color: #06E978;
}