.records-container{
    height: 600px;
    background-image: url('https://images.unsplash.com/photo-1580983219883-8463619d50e5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8ZW5nZW5lZXJpbmclMjB0b29sc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: cover;
}
.history-container{
    color: white;
    text-align: left;
    margin-left: 100px;
    margin-top: 100px;
    font-weight: 900;
}
.box-editing{
    height: 180px;
    width: 200px;
    background-color: white;
    color: black;
    margin-top: 80px;
    margin-left: 30px;
    /* margin-right: 30px; */
    border: 1px solid white;
    border-radius: 10px;
    
}